{% extends "template-norfolk.njk" %}
{% block main %}
  <p>This is the Norfolk demo</p>

  <a href="{{ '/museums-page/' | url }}">Link to Museums demo</a>
  <a href="{{ '/mynet-page/' | url }}">Link to myNet demo</a>
{% endblock %}