{% extends "template-museums.njk" %}
{% block main %}
  <p>This is the Museums demo</p>

  <a href="{{ '/' | url }}">Link to Norfolk demo</a>
  <a href="{{ '/mynet-page/' | url }}">Link to myNet demo</a>
{% endblock %}