{% extends "template-myNet.njk" %}
{% block main %}
  <p>This is the myNet demo</p>

  <a href="{{ '/' | url }}">Link to Norfolk demo</a>
  <a href="{{ '/museums-page/' | url }}">Link to Museums demo</a>
{% endblock %}